.body {
  z-index: 0;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-height: 100vh;
  overflow: scroll;
}

.container {
  z-index: 10;

  gap: 10px;
  width: 80%;
  margin: 40px;
  margin-bottom: 300px;
  padding: 15px;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(34, 18, 18, 0.15);

  display: grid;
  grid-template-columns: 1fr 1fr;

  animation: fadeIn 3s;
  animation-timing-function: cubic-bezier(.14,.90,0,.97);

}

.container-card {

  display: grid;
  grid-template-columns: 1fr 2.6fr;
  max-height: 20vh;

  border-radius: 10px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

}

.container-box {
  background-color: rgba(255, 255, 255, 0.18);
}

.container-box:hover {
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 2s;
  transition-timing-function: cubic-bezier(.14,.90,0,.97);
  cursor: pointer;

}

.container-item1{
  display: flex;
  height: 20vh;
  width: 20vh;
}

.container-item2{
  font-family: "Lucida Handwriting";
  text-shadow: #00000070 1px 0 1px;
  color: white;
}

.container-title{
  font-size: 1.2vh;
}

.container-description{
  font-family: 'Monaco';
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.sticker {
  z-index: 5;
  position: relative;
  float: right;
  margin-top: 5vh;

  height: 15vh;
  width: 15vh;

  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
  transition-timing-function: cubic-bezier(.14,.90,1);
}

.sticker img {
  max-height: 100%;
  max-width: 100%;
}